body {
    background: #222;
    margin: 0;
}

.common {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    
}
/*.primitive {
        display: flex;
    justify-content: center;
    align-items:flex-start;
}

.ircleAnimat {
    display: flex;
    justify-content: center;
    align-items:center;
}

.animashka {
    display: flex;
    justify-content: center;
    align-items:flex-end;
}*/

canvas {
    background: #fff;
}

